// views/blog.templ
package views

import ("gosurpher/models")

templ Blog(blog models.Blog) {
    @Layout("Blog"){
    

    <section id="showcase">
        <div class="container">
            <h1> { blog.Title } </h1>
            <p> { blog.Autor } </p>
        </div>
    </section>

    <div class="container">
        <article>
            { blog.Content }
        </article>
    </div>
    }
}
