// views/home.templ
package views

templ Home(title string) {
  @Layout(title) {
    <div class="container mx-auto px-4 py-4 w-full items-center rounded-lg border shadow-md">
      <p>{ title }</p>
    </div>
  }
}

//h-48 w-full items-center rounded-lg border shadow-md dark:border-neutral-600 dark:shadow-white/20